.createPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 2em;
}
.createPost-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff0d;
  padding: 2em;
  border-radius: 8px;

  box-shadow: 0 0 15px 5px rgba(3, 157, 142, 0.7);
}
.createPost-input {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.createPost-area {
  resize: vertical;
  min-height: 12em;
  max-height: 21em;
}
